@font-face {
  font-family: "Heroic-Bold";
  src: url('assets/fonts/heroiccondensed-bold-webfont.ttf');
}
@font-face {
  font-family: "Heroic-Heavy";
  src: url('assets/fonts/heroiccondensed-heavy-webfont.ttf');
}
@font-face {
  font-family: "Gill-Sans";
  src: url('assets/fonts/GillSans.otf');
}
@font-face {
  font-family: "Gill-Sans-Medium";
  src: url('assets/fonts/GillSansMedium.otf');
}
@font-face {
  font-family: "Caslon";
  src: url('assets/fonts/Caslon450Italic.ttf');
}

.heroic-b{
  font-family: "Heroic-Bold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.heroic-h{
  font-family: "Heroic-Heavy";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gill-sans{
  font-family: "Gill-Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gill-sans-m{
  font-family: "Gill-Sans-Medium";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.caslon{
  font-family: "Caslon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
